<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="answers">
    <p class="label"><%= form.label :name %>:</p>
    <%= form.text_field :name, class: "oneline" %>
  </div>

  <div class="answers">
    <p class="label"><%= form.label :birthday %>:</p>
    <%= form.text_field :birthday, class: "oneline" %>
  </div>

  <div class="answers">
    <p class="label"><%= form.label :birthYear %>:</p>
    <%= form.number_field :birthYear, class: "oneline" %>
  </div>

  <div class="answers">
    <p class="label"><%= form.label :death %>:</p>
    <%= form.text_field :death, class: "oneline" %>
  </div>

  <div class="answers">
    <p class="label"><%= form.label :biography%>:</p>
    <%= form.text_area :biography, class: "story" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
