<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= person.birthday %>
  </p>

  <p>
    <strong>Birthyear:</strong>
    <%= person.birthYear %>
  </p>

  <p>
    <strong>Death:</strong>
    <%= person.death %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= person.biography %>
  </p>

</div>
