<div id="<%= dom_id person %>">
  <h1><%= person.name %></h1>

  <p>
    <strong>Birthday:</strong>
    <%= person.birthday %>
  </p>

  <p>
    <strong>Birthyear:</strong>
    <%= person.birthYear %>
  </p>

  <p>
    <strong>Death:</strong>
    <%= person.death %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= person.biography %>
  </p>

</div>
