<p style="color: green"><%= notice %></p>

<h1>Gay Old Time</h1>

<div>
  <h3>Sort by:</h3>
  <button>Name</button><button>Year</button>
</div>

<%#= render "people", people: @people %>

<% if @alphabetical === true %>
<div id="people">
  <% @alphabetical_people.each do |person| %>
    <p>
      <%= link_to person.name, person %>
    </p>
    <p> <%= person.birthYear %></p>
  <% end %>
</div>

<% else %>

<div>
  <% @chronological_people.each do |person| %>
    <p> <%= link_to person.name, person %> </p>
    <p> <%= person.birthYear %> </p>
  <% end %>
</div>
<% end %>


<%= link_to "New person", new_person_path %>
